@model Pantry.Models.CategoryViewModels.CategoryViewModel



<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model.GroupedCategories)
        {
            @if (item.IngredientCount >= 1)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName) || (@Html.DisplayFor(modelItem => item.IngredientCount))
                    <br />




                    @foreach (var ingredient in item.Ingredients)
                    {

                        @Html.ActionLink(ingredient.Title, "Details", new { id = ingredient.IngredientId })
                        <br />

            }
                    <br />
                    @Html.ActionLink("See all...", "Details", "Categories", new { id = item.CatId }, null)
                </td>
            </tr>
                }
            }
    </tbody>
</table>
