@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="border: solid 5px #D7513F; background-color: #9E8C64">
    <img src="~/images/Keep it in your pantry.png" />
        </div>
    <h1 class="display-4">Welcome to Keep It In Your Pantry</h1>
    <p>Here you can keep track of all the ingredients you have in your kitchen so you don't ever buy a THIRD container of cumin</p>
    <p>After we have your pantry nice and stocked we'll find you some recipes.</p>
    <p>No more "we don't have anything to eat"! </p>
</div>
